<div class="input-box">
    <label for="book-search">Search by title</label>
    <input id="book-search" type="search" placeholder="Search books..." (input)="updateSearch($event)" />
</div>

<button type="button" (click)="sort.emit()">Sort by author and title</button>

<div class="input-box">
    <label for="book-import">Import XML</label>
    <input id="book-import" type="file" accept=".xml,application/xml" (change)="selectFile($event)" />
</div>

<button type="button" (click)="exportBooks.emit()">Export xml</button>