:host {
  display: block;
  margin-bottom: 24px;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;

  label {
    min-width: 100px;
  }
}

.controls {
  display: flex;
  gap: 8px;
}
